.header {
    width: 100%;
    min-height: 90px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #000;
    position: relative;
    
    &_container {
        padding: 15px;
        width: 100%;
        text-align: center;
        height: inherit;
    }

    &__logo {
        font-size: 40px;
        font-family: 'Bungee Outline', cursive;
        text-shadow:
          0 0 5px #fff,
          0 0 10px #fff,
          0 0 20px #fff,
          0 0 40px #0ff,
          0 0 60px #0ff,
          0 0 80px #0ff,
          0 0 90px #0ff,
          0 0 100px #0ff,
          0 0 150px #0ff;

        a {
            color: #fff;
        }
    } 

    &__navbar {

        cursor: pointer;
        display: flex;
        align-items: center;
        width: fit-content;
        height: fit-content;
        padding: 0 7px;
        border-radius: 3px;
        background-color: rgb(226, 178, 19);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 30px;
        margin: auto 0;
        transition: 0.2s;
        text-transform: uppercase;
        font-size: 14px;

        img {
            width: 32px;
            height: auto;
        }

        a {
            display: none;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}