@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap&family=Bungee+Hairline&family=Bungee+Outline&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a, a:hover {
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

body {
  background-color: #121212;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  width: 100%;
  min-height: 90px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #000;
}
.header_container {
  padding: 15px;
  width: 100%;
  text-align: center;
  height: inherit;
}
.header__logo {
  font-size: 40px;
  font-family: "Bungee Outline", cursive;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 60px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}
.header__logo a {
  color: #fff;
}
.header__navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.header__navbar ul li {
  padding: 5px 0;
  display: inline-block;
  position: relative;
}
.header__navbar ul li:nth-child(2n) {
  margin-left: 20px;
}
.header__navbar ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #faf063;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}
.header__navbar ul li:hover {
  text-shadow: 0 0 5px #fff, 0 0 40px #faf063, 0 0 80px #faf063, 0 0 90px #faf063;
}
.header__navbar ul li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header__navbar a {
  color: #fff;
}

.carousel-item {
  height: 50vh;
  background: #000;
  color: #fff;
}
.carousel-item .container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 60px;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.movies_all__collection {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 30px 20px;
  justify-items: center;
  align-items: center;
}
.movies_all__item {
  width: 100%;
  height: 100%;
  border: 1px solid #121212;
  box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.3);
  border-radius: 8px;
  overflow: hidden;
  color: #fff;
  background-color: #424242;
}
.movies_all__item .bottom {
  padding: 26px 10px 12px;
  position: relative;
}
.movies_all__item .bottom h3 {
  font-size: 1em;
  font-weight: 700;
}
.movies_all__item .bottom a {
  color: #fff;
}
.movies_all__item .bottom .date {
  opacity: 0.5;
}
.movies_all__item .bottom .rating {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  border: 4px solid orange;
  position: absolute;
  top: -20px;
  left: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 32px;
}
.movies_all__poster div {
  background: #000;
  overflow: hidden;
  background-position: center;
  transition: 0.3s ease-in-out;
}
.movies_all__poster div:hover {
  background: url(https://svgsilh.com/svg/1915454-ffffff.svg) no-repeat center #2030a7;
  background-size: 24px;
  transition: 0.3s ease-in-out;
}
.movies_all__poster img {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.movies_all__poster:hover img {
  opacity: 0.4;
  transform: scale(1.05);
}

.footer {
  background-color: pink;
  opacity: 0.3;
}
.footer__container {
  height: 60px;
  margin-top: 30px;
  padding: 10px 0;
  text-align: center;
}

.popup-wrapper {
  z-index: 99999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-wrapper_hidden {
  display: none;
}

.popup-container {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 70vw;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
.popup-container .btn-close {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #909090;
  cursor: pointer;
}
.popup-container__media {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  max-height: 200px;
  margin-bottom: 20px;
}
.popup-container__header h2 {
  font-size: 1.5em;
  font-weight: 700;
}
.popup-container__header h2 span {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}
.popup-container__overview {
  margin-top: 20px;
}
.popup-container__btns-panel {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.popup-container__btns-panel button {
  border: 2px solid black;
  background-color: white;
  color: #000000;
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}
.popup-container__btns-panel .btn_watch-later {
  border-color: rgb(121, 201, 255);
  background-color: #fff;
}
.popup-container__btns-panel .btn_watch-later:hover {
  background-color: rgb(121, 201, 255);
  transition: 0.3s ease;
}
.popup-container__btns-panel .btn_watched {
  border-color: rgb(127, 202, 127);
  background-color: #fff;
}
.popup-container__btns-panel .btn_watched:hover {
  background-color: rgb(127, 202, 127);
  transition: 0.3s ease;
}

@media screen and (min-width: 375px) {
  .movies_all__collection {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 540px) {
  .movies_all__collection {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .popup-container__media {
    float: left;
    margin-right: 20px;
    align-self: start;
    margin-bottom: 0px;
    width: 50%;
    max-height: 400px;
  }
  .popup-container__media img {
    max-height: 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 70%;
  }
  .movies_all__collection {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=main.css.map */