@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* latin-ext */
@font-face {
  font-family: "Bungee Hairline";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bungeehairline/v18/snfys0G548t04270a_ljTLUVrv-LaRecc5Y.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Bungee Hairline";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bungeehairline/v18/snfys0G548t04270a_ljTLUVrv-LZxec.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Bungee Outline";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bungeeoutline/v18/_6_mEDvmVP24UvU2MyiGDslL3Tg-aBNaPQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Bungee Outline";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bungeeoutline/v18/_6_mEDvmVP24UvU2MyiGDslL3TgwaBM.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fredokaone/v13/k3kUo8kEI-tA1RRcTZGmTlHGCac.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a, a:hover {
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  background-color: #121212;
  color: #fff;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  width: 100%;
  min-height: 90px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #000;
  position: relative;
}
.header_container {
  padding: 15px;
  width: 100%;
  text-align: center;
  height: inherit;
}
.header__logo {
  font-size: 40px;
  font-family: "Bungee Outline", cursive;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 60px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}
.header__logo a {
  color: #fff;
}
.header__navbar {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 7px;
  border-radius: 3px;
  background-color: rgb(226, 178, 19);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  margin: auto 0;
  transition: 0.2s;
  text-transform: uppercase;
  font-size: 14px;
}
.header__navbar img {
  width: 32px;
  height: auto;
}
.header__navbar a {
  display: none;
}
.header__navbar:hover {
  transform: scale(1.1);
}

.carousel-item {
  height: 50vh;
  background: #000;
  color: #fff;
}
.carousel-item .container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 60px;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.movies_all__collection {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 30px 20px;
  justify-items: center;
  align-items: center;
}
.movies_all__watch-later {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.5);
}
.movies_all__item {
  width: 100%;
  height: 100%;
  border: 1px solid #121212;
  box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.3);
  border-radius: 8px;
  overflow: hidden;
  color: #fff;
  background-color: #424242;
  position: relative;
}
.movies_all__item .bottom {
  padding: 26px 10px 12px;
  position: relative;
}
.movies_all__item .bottom h3 {
  font-size: 1em;
  font-weight: 700;
}
.movies_all__item .bottom a {
  color: #fff;
}
.movies_all__item .bottom .date {
  opacity: 0.5;
}
.movies_all__item .bottom .rating {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  border: 4px solid orange;
  position: absolute;
  top: -20px;
  left: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 32px;
}
.movies_all__item .delete-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 24px;
  width: 24px;
  background-image: url("/src/images/trash.svg");
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(99%) sepia(1%) saturate(7498%) hue-rotate(234deg) brightness(127%) contrast(94%);
  cursor: pointer;
  transition: 0.3s;
}
.movies_all__item .delete-btn:hover {
  filter: invert(13%) sepia(66%) saturate(3222%) hue-rotate(333deg) brightness(152%) contrast(105%);
}
.movies_all__poster div {
  background: #000;
  overflow: hidden;
  background-position: center;
  transition: 0.3s ease-in-out;
}
.movies_all__poster div:hover {
  background: url(https://svgsilh.com/svg/1915454-ffffff.svg) no-repeat center #2030a7;
  background-size: 24px;
  transition: 0.3s ease-in-out;
}
.movies_all__poster img {
  width: 100%;
  aspect-ratio: 0.6666666667;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.movies_all__poster:hover img {
  opacity: 0.4;
  transform: scale(1.05);
}

.footer {
  background-color: pink;
  opacity: 0.3;
}
.footer__container {
  height: 60px;
  margin-top: 30px;
  padding: 10px 0;
  text-align: center;
}

.popup-wrapper {
  z-index: 99999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-wrapper_hidden {
  display: none;
}

.popup-container {
  position: relative;
  background: #424242;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 70vw;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
.popup-container .btn-close {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #909090;
  cursor: pointer;
}
.popup-container__media {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  max-height: 200px;
  margin-bottom: 20px;
}
.popup-container__media img {
  display: none;
}
.popup-container__header h2 {
  font-size: 1.5em;
  font-weight: 700;
}
.popup-container__header h2 span {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}
.popup-container__overview {
  margin-top: 20px;
}
.popup-container__btns-panel {
  margin-top: 20px;
  text-align: center;
}
.popup-container__btns-panel button {
  padding: 5px 7px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease;
  outline: none;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  outline: none;
}
.popup-container__btns-panel .btn_watch-later_active {
  background-color: rgb(226, 178, 19);
}
.popup-container__btns-panel .btn_watch-later_active:hover {
  transform: scale(1.1);
}
.popup-container__btns-panel .btn_watch-later_blocked {
  background-color: rgb(208, 208, 208);
  cursor: default;
}

@media screen and (min-width: 375px) {
  .movies_all__collection {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 540px) {
  .movies_all__collection {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .popup-container__media {
    float: left;
    margin-right: 20px;
    align-self: start;
    margin-bottom: 0px;
    width: 50%;
    max-height: 400px;
  }
  .popup-container__media img {
    display: block;
    max-height: 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 70%;
  }
  .movies_all__collection {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .header__navbar a {
    display: inline;
    color: #111;
  }
  .header__navbar img {
    margin-right: 5px;
  }
}/*# sourceMappingURL=main.css.map */