@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a, a:hover {
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

body {
  background-color: #fff;
}

.container {
  min-width: 90%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #000;
}

.header_container {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header__logo {
  font-size: 32px;
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
  color: #fff;
}

.header__logo svg {
  width: 32px;
  height: auto;
  color: #fff;
}

.header__navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.header__navbar ul li:nth-child(2n) {
  margin-left: 20px;
}

.header__navbar a {
  color: #fff;
}

.carousel-item {
  height: 50vh;
  background: #000;
  color: #fff;
}

.carousel-item .container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 60px;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.movies_all__collection {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 30px 20px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movies_all__item {
  width: 100%;
  border: 1px solid #550202;
  -webkit-box-shadow: 4px 4px 10px rgba(85, 2, 2, 0.5);
          box-shadow: 4px 4px 10px rgba(85, 2, 2, 0.5);
  border-radius: 8px;
  overflow: hidden;
  color: #000;
}

.movies_all__item .bottom {
  padding: 26px 10px 12px;
}

.movies_all__item .bottom h3 {
  font-size: 1em;
  font-weight: 700;
}

.movies_all__item .bottom a {
  color: #000;
}

.movies_all__item .bottom .date {
  opacity: 0.5;
}

.footer {
  background-color: pink;
  opacity: 0.3;
}

.footer__container {
  height: 60px;
  margin-top: 30px;
  padding: 10px 0;
  text-align: center;
}

.popup-wrapper {
  z-index: 99999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-wrapper_hidden {
  display: none;
}

.popup-container {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.popup-container__media {
  border-radius: 20px;
  overflow: hidden;
}

.popup-container__description {
  margin-top: 20px;
}

.popup-container__header h2 {
  font-size: 1.5em;
  font-weight: 700;
}

.popup-container__header h2 span {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

.popup-container__overview {
  margin-top: 20px;
}

.popup-container__btns-panel {
  margin-top: 20px;
  text-align: center;
}

.popup-container__btns-panel a {
  padding: 5px 7px;
  border-radius: 5px;
}

.popup-container__btns-panel .btn_watch-later {
  background-color: #79c9ff;
}

.popup-container__btns-panel .btn_watched {
  background-color: #7fca7f;
}

@media screen and (min-width: 375px) {
  .movies_all__collection {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 540px) {
  .movies_all__collection {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 600px;
  }
  .movies_all__collection {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
