
.movies_all {

    &__collection {
        margin-top: 30px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 30px 20px;
        justify-items: center;
        align-items: center;
    }

    &__watch-later {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(255, 255, 255, 0.5);
    }

    &__item {
        width: 100%;
        height: 100%;
        border: 1px solid #121212;
        box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.3);
        border-radius: $cardBorderRadius;
        overflow: hidden;
        color: #fff;
        background-color: #424242;
        position: relative;

        .bottom {
            padding: 26px 10px 12px;
            position: relative;

            h3 {
                font-size: 1em;
                font-weight: 700;
            }

            a {
                color: #fff;
            }

            .date {
                opacity: 0.5;
            }

            .rating {
                width: 40px;
                height: 40px;
                background-color: #fff;
                color: #000;
                border-radius: 50%;
                border: 4px solid orange;
                position: absolute;
                top: -20px;
                left: 10px;
                text-align: center;
                font-size: 14px;
                line-height: 32px;
            }
        }

        .delete-btn {
            position: absolute;
            bottom: 10px;
            right: 10px;
            height: 24px;
            width: 24px;
            background-image: url('/src/images/trash.svg');
            background-repeat: no-repeat;
            background-size: contain;
            filter: invert(99%) sepia(1%) saturate(7498%) hue-rotate(234deg) brightness(127%) contrast(94%);
            cursor: pointer;
            transition: .3s;

            &:hover {
                filter: invert(13%) sepia(66%) saturate(3222%) hue-rotate(333deg) brightness(152%) contrast(105%);
            }

        }
    }

    &__poster {

        div {
            background: #000;
            overflow: hidden;
            background-position: center;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;

            &:hover {
                background: url(https://svgsilh.com/svg/1915454-ffffff.svg) no-repeat center #2030a7;
                background-size: 24px;
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }
        }

        img {
            width: 100%;
            aspect-ratio: calc(2/3);
            opacity: 1;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }

        &:hover {

            img {
                opacity: .4;
                transform: scale(1.05);
            }

            

        }
    }
}